body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#iSlider-content {
    overflow: hidden;
    height: 100%;
    width: 100%;
}


#iSlider-hidden {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

#iSlider-dom-nav {
    display: none;
    position: absolute;
    width: 100%;
    height: 20px;
    margin-top: 30px;
    text-align: left;
    pointer-events: auto;
    background-color: #ffffff;
    cursor: pointer;
    z-index: 10000;
}

#iSlider-dom-nav a {
    display: inline-block;
}

#iSlider-dom-nav a:nth-child(1) {
    color: #ffffff;
}

#iSlider-nav {
    position: absolute;
    width: 100%;
    background-color: #2980b9;
    z-index: 10000;
}

#iSlider-nav a{
    position: relative;
    height: 30px;
    -webkit-box-flex: 1;
    -webkit-transition: all 0.5 ease;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    line-height: 30px;
    border-right: 1px solid #999;
}

#iSlider-nav div {
    display: inline-block;
}

.icon-menu {
    width: 24px;
    height: 24px;
    margin-top: 2px;
    margin-left: 2px;
    background-image: url(../imgs/menu.png);
    cursor: pointer;
}

.dom-demo {
    margin-top: 10px;
    margin-left: -5px;
    padding: 10px;
    padding-top: 25px;
    left: 50%;
    width: 100%;
    height: 100%;
}

.dom-demo1 {
    background-color: #2ecc71;
}

.dom-demo2 {
    background-color: #3498db;
}

.dom-demo3 {
    background-color: #1abc9c;
}

.dom-demo4 {
    background-color: #9b59b6;
}

.dom-demo5 {
    background-color: #f1c40f;
}

.iSlider-show {
    position: absolute;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    z-index: -1;
}

#iSlider-show ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#iSlider-show li {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    list-style: none;
    z-index: -1;
}

#iSlider-show ul li img {
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
}

#iSlider-show ul li div {
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
}


.iSlider-option {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #7a9dbb;
    pointer-events: auto;
    z-index: -1;
}

#iSlider-option ul {
    margin-top: 20px;
}

#iSlider-option ul li {
    display: block;
    height: 25px;
    margin-top: 10px;
    margin-left: -40px;
    padding-left: 20px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    cursor: pointer;
    border-bottom: 1px solid #8ba9c4;
}

#iSlider-option ul li:hover {
    opacity: 0.8;
}

#iSlider-option ul li.on {
    border: 1px solid #333;
    color: #fff;
    background-color: #666;
}