body {
    margin: 0;
    padding: 0;
    overflow: scroll;
    pointer-events: none;
}

#iSlider-show ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#iSlider-show li {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    list-style: none;
}

#iSlider-show li img {
    max-width: 100%;
    max-height: 100%;
}

#iSlider-show li div {
    padding: 6px;
}

#iSlider-content {
    position: relative;
    overflow: hidden;
}

#iSlider-outer {
    pointer-events: auto;
    margin-left: auto;
    margin-right: auto;
    height: 595px;
    width: 478px;
    background: url('../imgs/bg_1.png') no-repeat top center;
    background-size: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all .3s;
}

#iSlider-canvas {
    height: 451px;
    width: 254px;
    position: absolute;
    margin-top: 72px;
    margin-left: 113px;
    overflow: hidden;
    background: #000000;
}

#iSlider-nav {
    display: -webkit-box;
    background-color: #3498db;
}

.iSlider-rotated-nav {
    width: 450px;
    margin-left: -210px;
    margin-top: 210px;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 50% 50%%;
}

#iSlider-nav a{
    position: relative;
    height: 30px;
    -webkit-box-flex: 1;
    -webkit-transition: all 0.5 ease;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    line-height: 30px;
    border-right: 1px solid #999;
}

.icon-menu {
    width: 24px;
    height: 24px;
    margin-top: 2px;
    margin-left: 2px;
    background-image: url(../imgs/menu.png);
    cursor: pointer;
}

#iSlider-show {
    position: absolute;
    top: 32px;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.iSlider-rotated-show {
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 50% 50%%;
}

#iSlider-option {
    height: 451px;
    width: 254px;
    position: absolute;
    margin-top: 72px;
    margin-left: 113px;
    overflow: hidden;
    background: #7a9dbb;
}

.iSlider-rotated-option {
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 50% 50%%;
}

#iSlider-option ul {
    margin-top: 20px;
}

#iSlider-option ul li {
    display: block;
    height: 25px;
    margin-top: 10px;
    margin-left: -40px;
    padding-left: 20px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    cursor: pointer;
    border-bottom: 1px solid #8ba9c4;
}

#iSlider-option ul li:hover {
    opacity: 0.8;
}

#iSlider-option ul li.on {
    border: 1px solid #333;
    color: #fff;
    background-color: #666;
}

.iSlider-rotated-outer {
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: 60% 48%%;
    margin-left: auto;
    margin-right: auto;
   /* margin-top: -50px;
    margin-left: 30px;*/
    z-index: -1;
}

@media screen and (max-width:1024px){

    body {
        background-color: #333;
    }

    #iSlider-menu {
        /*display: none;*/
        position: absolute;
        background-color: white;
        border-radius: 10px;
        margin-left: -230px;
    }

    #iSlider-menu-tag {
        display: block;
        position: absolute;
        width: 250px;
        height: 60px;
        margin-left: -200px;
        padding-right: 10px;
        border-radius: 10px;
        background-color: #ffffff;
        color: #000000;
        text-align: right;
        line-height: 60px;
    }

    .iSlider-menu-animation {
        -webkit-transition-property: "margin-left";
        -webkit-transition-duration: '200ms';
    }

    .iSlider-menu-tag-animation {
        -webkit-transition-property: "margin-left";
        -webkit-transition-duration: '200ms';
        -webkit-transition-delay: '600ms';
    }

    #iSlider-nav {
        display: none;
    }

    #iSlider-show {
        top: 0;
    }

    #iSlider-show ul li{
        width: 100%;
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
    }

}

@media screen and (max-width:1024px) and (orientation:landscape){
    #iSlider-outer {
        background: none;
        width: 100%;
    }

    #iSlider-canvas {
        width: 100%;
        height: 100%;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }

    #iSlider-show {
        height: 100%;
    }
}

@media screen and (max-width:1024px) and (orientation:portrait){

    #iSlider-outer {
        background: none;
        width: 100%;
    }

    #iSlider-canvas {
        width: 100%;
        height: 100%;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
}