body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
li {
    position: absolute;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
li img {
    max-width: 100%;
    max-height: 100%;
}

#info {
    position: absolute;
    top: 20px;
    left: 60px;
}

#info strong {
    
}

#menu {
    color: #000;
    font-size: 14px;
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 350px;
    width: 200px;
    -webkit-transition: all .2s;
}

.rotated_menu {
    top: 60px!important;
    left: 40px!important;
    width: auto!important;
}

.rotated_outer {
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: 60% 58%;
}

.rotated_canvas {
    width: 381px!important;
    height: 217px!important;
    top: 200px!important;
    left: 97px!important;
}

#menu span {
    display: inline-block;
    text-align: center;
    line-height: 24px;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #333;
    cursor: pointer;
}

#menu span.on{
    display: inline-block;
    text-align: center;
    line-height: 24px;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #333;
    cursor: pointer;
    color: #fff;
    background-color: #666;
}

#outer {
    height: 600px;
    width: 400px;
    background: url('../imgs/bg_1.jpeg') no-repeat center center;
    background-size: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all .2s;
}

#canvas {
    width: 217px;
    height: 381px;
    position: absolute;
    top: 110px;
    left: 92px;
    overflow: hidden;
    background: #333;
}

