body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#iSlider-canvas ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
#iSlider-canvas li  {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    list-style: none;
}
#iSlider-canvas li img {
    max-width: 100%;
    max-height: 100%;
}
#iSlider-tip {
    padding: 10px;
    z-index: 4;
}

#iSlider-tip p {
    margin: 5px 0;
}

#iSlider-content {
    position: relative;
    overflow: hidden;
}
#iSlider-info {
    position: absolute;
    top: 68px;
    left: 360px;
    z-index: 4;
}

#iSlider-menu {
    color: #000;
    font-size: 14px;
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 350px;
    width: 200px;
    -webkit-transition: all .2s ease;
}

.iSlider-rotated-menu {
    top: 14px!important;
    left: 40px!important;
    width: auto!important;
}

.iSlider-rotated-outer {
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: 60% 48%%;
}

.iSlider-rotated-canvas {
    width: 381px!important;
    height: 217px!important;
    top: 140px!important;
    left: 89px!important;
}

#iSlider-menu span {
    display: inline-block;
    text-align: center;
    line-height: 24px;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #333;
    cursor: pointer;
}

#iSlider-menu span.on{
    display: inline-block;
    text-align: center;
    line-height: 24px;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #333;
    cursor: pointer;
    color: #fff;
    background-color: #666;
}

#iSlider-outer {
    height: 600px;
    width: 400px;
    background: url('../imgs/bg_1.jpeg') no-repeat top center;
    background-size: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all .3s;
}

#iSlider-canvas {
    width: 217px;
    height: 381px;
    position: absolute;
    top: 58px;
    left: 92px;
    overflow: hidden;
    background: #333;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

    #iSlider-content {
        height: 100%;
        width: 100%;        
        position: absolute;
        top: 0;
        left: 0;
    }

    #iSlider-outer {
        height: 100%;
        width: 100%;
    }

    #iSlider-tip {
        position: absolute;
        font-size: 12px;
        background: #fff;
        opacity: 0.8;
        margin-top: -100%;
        -webkit-transform: translateZ(0);
        -webkit-transition: all 0.4s ease; 
    }

    #iSlider-tip.show {
        margin-top: 0;
    }

    #iSlider-canvas {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #666;
    }

    #iSlider-menu {
        top: auto;
        bottom: 10px;
        left: 10px;
        font-size: 14px;
        width: 100%;
        margin-bottom: -100%;
    }
    #iSlider-menu.show {
        margin-bottom: 0;
    }

    #iSlider-menu span, #menu span.on{
        line-height: 18px;
        padding: 2px 4px;
        font-size: 12px;
        background: #FFF;
    }

    #iSlider-menu span.on{
        color: #FFF;
        background: #999;
    }

    #iSlider-menu span:last-child{
        display: none;
    }
}
